{% extends 'base.html' %}
{% load static %}
<body {% block id %} class="user-reset-passsword blog" {% endblock id %} >
{% block content %}

    <!-- main content -->
    <div class="main-content">
        <div class="wrap-banner">

            <!-- breadcrumb -->
            <nav class="breadcrumb-bg">
                <div class="container no-index">
                    <div class="breadcrumb">
                        <ul>
                            <li>
                                <a href="{% url 'index' %}">
                                    <span>Home</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <!-- main -->
        <div id="wrapper-site">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
                        <div class="card card-primary">
                          <div class="card-header">
                            <h4>{% if token_fail %}Bad Token {% else %} Change Password{% endif %}</h4>
                          </div>
                          <div class="card-body">
                            {% if token_fail %}
        
        <p>The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{% url 'account_reset_password' %}">new password reset</a>.</p>
    {% else %}
    <form action="{{ action_url }}" class="forgotten-password" method="post" id="customer-form">
        {% csrf_token %}
        <div class="form-fields text-center ">
            <div class="form-group center-email-fields">
                <div class=" mb-2">
                    <input type="password" name="password1" id="password" value="" class="form-control" placeholder="Password">
                </div>
                <div class="password mb-2">
                    <input type="password" name="password2" id="password" value="" class="form-control" placeholder="Confirm Password">
                </div>
                <div>
                    <button class="btn btn-primary btn-lg btn-block" tabindex="4" name="submit" type="submit">
                        Change Password
                    </button>
                </div>
            </div>
            <
        </div>
    </form>
    {% endif %}

                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}

</body>
