{% extends 'base.html' %}
{% load static %}
<body {% block id %} class="user-reset-passsword blog" {% endblock id %} >
{% block content %}
  
    <!-- main content -->
    <div class="main-content">
        <div class="wrap-banner">

            <!-- breadcrumb -->
            <nav class="breadcrumb-bg">
                <div class="container no-index">
                    <div class="breadcrumb">
                        <ul>
                            <li>
                                <a href="{% url 'index' %}">
                                    <span>Home</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <!-- main -->
        <div id="wrapper-site">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
                        <div class="card card-primary">
                          <div class="card-header">
                            <h4>Change Password</h4>
                          </div>
                          <div class="card-body">
                            <p>Your password has been changed successfully.</p>
                            <a href="{% url 'index' %}" class="account-link">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                                <span class="text-center">Home</span>
                            </a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}

</body>
