{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="main-content">
    <section class="section">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
            <div class="card card-warning">
              <div class="card-header">
                <h4>Add Business Profile</h4>
              </div>
              <div class="card-body">
                {% if request.user.profile.has_company %}
                <form action="{% url 'golt:update-company' company.pk %}" method="post" enctype="multipart/form-data">
                  {% else %}
                <form action="{% url 'golt:create-company' %}" method="post" enctype="multipart/form-data">
                  {% endif %}
                  {% csrf_token %}
                  <div class="row">
                    <div class="form-group col-6">
                      <label for="company_name">Business Name</label>
                      <input id="company_name" type="text" class="form-control" name="company_name" autofocus>
                    </div>
                  <div class="form-group col-6">
                    <label for="company_address">Business Address</label>
                    <input id="company_address" type="text" class="form-control" name="company_address">
                    <div class="invalid-feedback">
                    </div>
                  </div>
                </div>
                  <div class="row">
                    <div class="form-group col-6">
                      <label for="email" class="d-block">Email</label>
                      <input id="email" type="email" class="form-control pwstrength" data-indicator="pwindicator"
                        name="email">
                        <div class="invalid-feedback">
                        </div>
                    </div>
                    <div class="form-group col-6">
                      <label for="company_url" class="d-block">Web Address (www.youraddress.com)</label>
                      <input id="company_url" type="text" class="form-control" name="company_url">
                    </div>
                     <div class="invalid-feedback">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="custom-switch">
                      <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" id="hide_btn">
                      <span class="custom-switch-indicator"></span>
                      <span class="custom-switch-description">use the same details in your profile for country,state,zip and contact</span>
                    </label>
                  </div>
                  <div id="disp">
                    <div class="row">
                      <div class="form-group col-6">
                        <label for="country" class="d-block">Country</label>
                        <input id="country" type="text" class="form-control pwstrength" data-indicator="pwindicator"
                          name="country">
                          <div class="invalid-feedback">
                          </div>
                      </div>
                      <div class="form-group col-6">
                        <label for="phone" class="d-block">Phone</label>
                        <input id="phone" type="name" class="form-control" name="phone">
                      </div>
                        <div class="invalid-feedback">
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-6">
                        <label for="state" class="d-block">State</label>
                        <input id="state" type="name" class="form-control pwstrength" data-indicator="pwindicator"
                          name="state">
                          <div class="invalid-feedback">
                          </div>
                      </div>
                      <div class="form-group col-6">
                        <label for="zip" class="d-block">zip</label>
                        <input id="zip" type="name" class="form-control" name="zip">
                      </div>
                        <div class="invalid-feedback">
                      </div>
                    </div>
                  </div>
                  <div class="form-group row mb-4 pl-3 pl-md-5">
                    <label class="col-form-label text-center col-10">Profile Photo</label>
                    <div class="col-sm-12 col-md-7 ml-2 ml-md-5 pl-md-5">
                      <div id="image-preview" class="image-preview ">
                        <label for="image-upload" id="image-label">Choose File</label>
                        <input type="file" name="photo" id="image-upload" />
                      </div>
                    </div>
                  </div>
                 
                  <div class="form-group">
                    {% if request.user.profile.has_company %}
                    <button type="submit" class="btn btn-warning btn-lg btn-block">
                      Update Company
                    </button>
                    {% else %}
                    <button type="submit" class="btn btn-warning btn-lg btn-block">
                      Create Company
                    </button>
                    {% endif %}

                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  {% endblock content %}
  
{% block extrascript %}
  <script>
    'use strict';
    var hide_btn = $("#hide_btn");
    hide_btn.click(function(){
        var disp = $("#disp");
        disp.fadeToggle();
    });
  </script>
{% endblock extrascript %}