{% extends "base.html" %}
{% load static %}
{% block content %}
  
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-body">
            <h2 class="section-title h4">Trending Ads</h2>
            <div class="row">
                {% for ad in query  %}
                  
              <div class="col-12 col-md-4 col-lg-4">
                <article class="article article-style-c">
                  <div class="article-header">
                    <div class="article-image" data-background={{ad.photo.url}}>
                    </div>
                    <div class="article-badge">
                      <div class="article-badge-item bg-danger"><i class="fas fa-fire"></i> Trending</div>
                    </div>
                    <div class="article-badge ml-5">
                        <div class="article-badge-item bg-warning ml-5"><i class="
                            fas fa-audio-description"></i>{{ad.package_type}} Ads</div>
                      </div>
                  </div>
                  <div class="article-details">
                    <div class="article-category"><a href="#">{{ad.ad_type}}</a>
                      <div class="bullet"></div> <a href="#">date</a>
                    </div>
                    <div class="article-title">
                      <h2><a href="#">Ad Detail</a></h2>
                    </div>
                    <p id="ad-v">{{ad.ad_name}}</p>
                    <div class="article-user">
                      <img alt="company-logo" src= {%  static "assets/img/users/user-1.png" %} >
                      <div class="article-user-details">
                        <div class="user-detail-name">
                          <a href="#">Company</a>
                        </div>
                        <div class="text-job">Location</div>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
              {% endfor %}

              </div>
            </div>
          </div>
        </section>
        
      </div>
      
{% endblock content %}
{% block extrascript %}
  <script>
 
    
  </script>
{% endblock extrascript %}